# see dienlanhphongvan/config/config.yaml for more option

app:
  host: 0.0.0.0
  port: 5002
  debug: true

postgresql:
  host        : 127.0.0.1
  port        : 5432
  username    : justin
  db          : dienlanhphongvan
  password    : justin
  debug       : true
  maxIdleConns: 10
  maxOpenConns: 100

cookieToken:
  hashKey: "g6oVuERmIa6N3sw2yGuhjYg3JiXrkd5OFbp0ptDKOMTPQw8U5gkcEr4cpZDbSBT3"
  blockKey: "w2yGuhjYg3JiXrkd"

